* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: #EEF1F6;
    color: #49352c;
    width: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
}
a {
    color: #49352c;
    text-decoration: none;
}
a:hover {
    color: #D0BFB7;
}
.header {
    position: sticky;
    top: 0;
    width: 100%;
    background: #EEF1F6;
    border-bottom: 1px solid #D0BFB7;
}
.navigation {
    display: flex;
    justify-content: space-between;
    padding: 10px 5%;
    background: transparent;
}
.name {
    font-size: 32px;
}
.menu {
    list-style-type: none;
    align-self: center;
}
.link {
    display: inline-block;
    margin: 0 10px;
    font-size: 18px;
}
.section__hero {
    border-bottom: 2px solid #D0BFB7;
}
.hero__image {
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("https://images.pexels.com/photos/1023953/pexels-photo-1023953.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10% 0;
}
.hero__name {
    font-size: 48px;
}
.hero__line {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.1), #49352c, rgba(255, 255, 255, 0.3));
    background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0.1), #49352c, rgba(255, 255, 255, 0.3));
    background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0.1), #49352c, rgba(255, 255, 255, 0.3));
    background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0.1), #49352c, rgba(255, 255, 255, 0.3));
}
.hero__info {
    font-size: 22px;
}
.break {
    border: 1px solid #D0BFB7;
}
.about-me__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    padding: 1%;
}
.about-me__description {
    flex: 1;
    text-align: center;
    padding: 2% 3%;
}
.about-me {
    font-size: 30px;
    font-weight: lighter;
    padding: 5px;
}
.about-me__photo {
    border-radius: 50%;
    max-width: 35%;
}
.technologies__container {
    display: flex;
    width: 65%;
    justify-content: center;
    margin: 0 auto;
    padding: 1%;
}
.technologies__card {
    flex: 1;
    margin: 0 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}
.technologies__card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.technologies__description {
    padding: 5px;
    text-align: justify;
}

.technologies__photo {
    width: 100%;
}

.footer {
    width: 100%;
    background: #D0BFB7;
    padding: 1% 0;
    text-align: center;
}
@media screen and (max-width: 1024px) {
    .about-me__container {
        width: 100%;
    }
    .technologies__container {
        width: 100%;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 768px) {
    .header {
        position: static;
    }
    .navigation {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .link {
        display: block;
    }
    .about-me__container {
        flex-direction: column;
    }
    .about-me__photo {
        order: 1;
    }
    .about-me__description {
        order: 2;
    }
    .technologies__container {
        flex-direction: column;
    }
    .technologies__card {
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .hero__name {
        font-size: 32px;
    }
    .hero__info {
        font-size: 18px;
    }
    .about-me__photo {
        max-width: 50%;
    }
}







